<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= pokemon.name %></title>
</head>
<body>
    <h1>Edit Pokemon</h1>
    <form action="/pokemon/<%= pokemon._id %>?_method=put" method="post">
        <input type="text" name="name" placeholder="Name of Pokemon" value="<%= pokemon.name %>"/>
        <input type="text" name="img" placeholder="Image" value="<%= pokemon.img %>"/>
        <input type="text" name="type" placeholder="Type of Pokemon" value="<%= pokemon.type %>"/>
        <input type="number" name="hp" placeholder="Amount of HP" value="<%= pokemon.stats.hp %>"/>
        <input type="number" name="attack" placeholder="Amount of Attack" value="<%= pokemon.stats.attack %>"/>
        <input type="number" name="defense" placeholder="Amount of Defense" value="<%= pokemon.stats.defense %>"/>
        <input type="number" name="spattack" placeholder="Amount of SPAttack" value="<%= pokemon.stats.spattack %>"/>
        <input type="number" name="spdefense" placeholder="Amount of SPDefense" value="<%= pokemon.stats.spdefense %>"/>
        <input type="number" name="speed" placeholder="Speed of Pokemon" value="<%= pokemon.stats.speed %>"/>
        <input type="submit" value="Add New Pokemon"/>
    </form>
    </body>
    </html>