<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokemons<br><%= pokemon.name %></h1>
    <div class="buttons">
        <a href="/pokemon/new"><button>Add</button></a>
        <a href="/pokemon"><button>Back</button></a>
        <a href="/pokemon/<%= pokemon._id %>/edit"><button>Edit<%= pokemon.name %></button></a>
    </div>
    <a href="/pokemon/<%= pokemon._id %>">
    <h2><%= pokemon.name %></h2></a>

</body>
</html>