<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cache Them All</title>
</head>
<body>

        <div class="banner">
            <h1>Pokedex</h1>
        </div>

        <div class="button-container">
            <a href="/pokemon"><button>Back</button></a>
            <a href="/pokemon/<%= pokemon._id %>/edit"><button>EDIT</button></a>
        </div>

        <div class="del-button">
            <form action="/pokemon/<%= pokemon._id %>?_method=delete" method="post">
                <input type="submit" value="DELETE">
            </form>
        </div>

        <div class="name">
            <p><%= pokemon.name %></p>
        </div>

        <div class="img">
            <img src="<%= pokemon.img %>">
        </div>

        <div class="column">
            <ul>
                <h2>Type: </h2>
                <p><%= pokemon.type %></p>
            </ul>
        </div>

        <div class="column">
            <ul>
                <h2>Stats</h2>
                <p>HP: <%= pokemon.stats.hp %></p>
                <p>Attack <%= pokemon.stats.attack %></p>
                <p>Defense: <%= pokemon.stats.defense %></p>
                <p>spAttack: <%= pokemon.stats.spattack %></p>
                <p>spDefense <%= pokemon.stats.spdefense %></p>
                <p>Speed: <%= pokemon.stats.speed %></p>
            </ul>
        </div>

        <div class="column">
            <ul>
                <h2>Damages</h2>
                <p>Normal: <%= pokemon.damages.normal %></p>
                <p>Fire: <%= pokemon.damages.fire %></p>
                <p>Water: <%= pokemon.damages.water %></p>
                <p>Electric: <%= pokemon.damages.electric %></p>
                <p>Grass: <%= pokemon.damages.grass %></p>
                <p>Ice: <%= pokemon.damages.ice %></p>
                <p>Fight: <%= pokemon.damages.fight %></p>
                <p>Poison: <%= pokemon.damages.poison %></p>
                <p>Ground: <%= pokemon.damages.ground %></p>
                <p>Flying: <%= pokemon.damages.flying %></p>
                <p>Psychic: <%= pokemon.damages.psychic %></p>
                <p>Bug: <%= pokemon.damages.bug %></p>
                <p>Rock: <%= pokemon.damages.rock %></p>
                <p>Ghost: <%= pokemon.damages.ghost %></p>
                <p>Dragon: <%= pokemon.damages.dragon %></p>
                <p>Dark: <%= pokemon.damages.dark %></p>
                <p>Steel: <%= pokemon.damages.steel %></p>
            </ul>
        </div>
  
</body>
</html>